.actions{
    &-bottom{
        position: fixed;
        bottom: 0;
        left: 50%;
        display: flex;
        align-items: center;
        padding-bottom: 50px;
        transform: translateX(-50%);
    }
    &-right{
        position: fixed;
        display: flex;
        top: 0;
        right: 0;
        padding: 45px 15px 0 0; 
    }
    &-slider{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;
        height: 125px;
        margin: 0 15px;
        >input[type=range]{
            margin-top: 90px;
            -webkit-appearance: none;
            width: 120px;
            transform:rotate(270deg);
            background: transparent;
            &:focus{
                outline: none;
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                margin-right: -5px;
                background-color: $blue;
                border: 3px solid $white;
                @include size(15px);
                border-radius: 50%;
                box-shadow: 0 0 10px rgba($black, 0.1);
                transform: translateY(-4px);
                cursor: pointer;
            }
            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 7px;
                cursor: pointer;
                background: $white;
                border-radius: 10px;
            }
        } 
        .sample{
            border-radius: 50%;
            border: 1px solid rgba($white, 0.7);
            &.color{
                width: 30px;
                height: 30px;
                border: 3px solid $white;

            }
            &-wrapper{
                display: flex;
                align-items: center;
                justify-content: center;
                @include size(50px);
            }
        }
    }
    &-btn{
        position: relative;
        @include size(50px);
        &:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border-radius: 50%;
            background-color: $white;
            box-shadow: 0 0 40px rgba($black, 0.1);
            z-index: -1;
            transform: scale(1);
            transition: transform 0.2s ease-in-out;
        }
        &:hover, &:focus{
            &:after{
                transform: scale(1.1);
            }
        }
        &.big {
            @include size(70px);
            margin: 0 20px;
            opacity: 1;
            transform: scale(1);
            transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
            .hide & {
                opacity: 0;
                transform: scale(0.3);
            }
        }
        &.left, &.right{
            opacity: 1;
            transform: scale(1) translateX(0);
            transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
            .hide & {
                opacity: 0;
                &.left{
                    transform: translateX(30px);
                }
                &.right{
                    transform: translateX(-30px);
                }

            }
        }
        > .icon-valid{
            width: 50px;
            height: 21px;
            color: #22d622;
        }
        > .icon-rotate{
            width: 15px;
            height: 21px;
            color: $blue;
        }
        > .icon-clear{
            width: 15px;
            height: 21px;
            color: red;
        }
    }
}
